bpel/orders.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://orders.globalbooks.com/v1"
    targetNamespace="http://orders.globalbooks.com/v1"
    name="OrdersService">

    <wsdl:types>
        <xsd:schema targetNamespace="http://orders.globalbooks.com/v1" elementFormDefault="qualified">
            <!-- Order Item -->
            <xsd:complexType name="OrderItem">
                <xsd:sequence>
                    <xsd:element name="bookId" type="xsd:string"/>
                    <xsd:element name="quantity" type="xsd:int"/>
                    <xsd:element name="unitPrice" type="xsd:decimal" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Shipping Address -->
            <xsd:complexType name="Address">
                <xsd:sequence>
                    <xsd:element name="street" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="country" type="xsd:string"/>
                    <xsd:element name="postalCode" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Create Order Request (Matches the structure assigned in BPEL) -->
            <xsd:element name="createOrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerId" type="xsd:string"/>
                        <xsd:element name="items">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="item" type="tns:OrderItem" maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="shippingAddress" type="tns:Address"/>
                        <xsd:element name="totalAmount" type="xsd:decimal" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Create Order Response -->
            <xsd:element name="createOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:string"/>
                        <xsd:element name="status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateOrderRequestMessage">
        <wsdl:part name="parameters" element="tns:createOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateOrderResponseMessage">
        <wsdl:part name="parameters" element="tns:createOrderResponse"/>
    </wsdl:message>

    <wsdl:portType name="OrdersPortType">
        <wsdl:operation name="createOrder">
            <wsdl:input message="tns:CreateOrderRequestMessage"/>
            <wsdl:output message="tns:CreateOrderResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OrdersBinding" type="tns:OrdersPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createOrder">
            <soap:operation soapAction="http://orders.globalbooks.com/v1/createOrder"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- 
       Note: The real OrdersService is a REST API. ODE acts as an HTTP/SOAP bridge. 
       We define this WSDL so the BPEL engine can compile and route requests.
    -->
    <wsdl:service name="OrdersService">
        <wsdl:port name="OrdersPort" binding="tns:OrdersBinding">
            <soap:address location="http://localhost:8081/api/v1/orders/soap"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
