bpel/PlaceOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://globalbooks.com/bpel/v1/placeorder"
    xmlns:cat="http://catalog.globalbooks.com/v1"
    xmlns:ord="http://orders.globalbooks.com/v1"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    targetNamespace="http://globalbooks.com/bpel/v1/placeorder"
    name="PlaceOrderProcess">

    <!-- Import partner service WSDLs -->
    <wsdl:import namespace="http://catalog.globalbooks.com/v1" location="catalog.wsdl"/>
    <wsdl:import namespace="http://orders.globalbooks.com/v1" location="orders.wsdl"/>

    <wsdl:types>
        <xsd:schema targetNamespace="http://globalbooks.com/bpel/v1/placeorder" elementFormDefault="qualified">
            <!-- Reuse standard data types -->
            <xsd:import namespace="http://orders.globalbooks.com/v1" schemaLocation="orders.wsdl"/>
            
            <xsd:element name="placeOrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerId" type="xsd:string"/>
                        <xsd:element name="items">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="item" minOccurs="1" maxOccurs="unbounded">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="bookId" type="xsd:string"/>
                                                <xsd:element name="quantity" type="xsd:int"/>
                                                <!-- unitPrice retrieved from catalog at runtime -->
                                                <xsd:element name="unitPrice" type="xsd:decimal" minOccurs="0"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <!-- Shipping Address mimicking OrdersService type -->
                        <xsd:element name="shippingAddress">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="street" type="xsd:string"/>
                                    <xsd:element name="city" type="xsd:string"/>
                                    <xsd:element name="country" type="xsd:string"/>
                                    <xsd:element name="postalCode" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="placeOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:string"/>
                        <xsd:element name="status" type="xsd:string"/>
                        <xsd:element name="totalAmount" type="xsd:decimal"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="PlaceOrderFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="code" type="xsd:string"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <!-- BPEL Process Messages -->
    <wsdl:message name="PlaceOrderRequestMessage">
        <wsdl:part name="parameters" element="tns:placeOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="PlaceOrderResponseMessage">
        <wsdl:part name="parameters" element="tns:placeOrderResponse"/>
    </wsdl:message>
    <wsdl:message name="PlaceOrderFault">
        <wsdl:part name="parameters" element="tns:PlaceOrderFault"/>
    </wsdl:message>

    <!-- Process PortType -->
    <wsdl:portType name="PlaceOrderPortType">
        <wsdl:operation name="placeOrder">
            <wsdl:input message="tns:PlaceOrderRequestMessage"/>
            <wsdl:output message="tns:PlaceOrderResponseMessage"/>
            <wsdl:fault name="PlaceOrderFault" message="tns:PlaceOrderFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- SOAP Binding for the BPEL Process -->
    <wsdl:binding name="PlaceOrderBinding" type="tns:PlaceOrderPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="placeOrder">
            <soap:operation soapAction="http://globalbooks.com/bpel/v1/placeorder/placeOrder"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="PlaceOrderFault"><soap:fault name="PlaceOrderFault" use="literal"/></wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Engine Web Service Endpoint -->
    <wsdl:service name="PlaceOrderService">
        <wsdl:port name="PlaceOrderPort" binding="tns:PlaceOrderBinding">
            <soap:address location="http://localhost:8080/ode/processes/PlaceOrderService"/>
        </wsdl:port>
    </wsdl:service>

    <!-- ============================================================ -->
    <!-- BPEL Partner Link Types -->
    <!-- ============================================================ -->

    <!-- This describes the BPEL Process itself acting as a provider to outside clients -->
    <plnk:partnerLinkType name="PlaceOrderLinkType">
        <plnk:role name="PlaceOrderProvider" portType="tns:PlaceOrderPortType"/>
    </plnk:partnerLinkType>

    <!-- This describes the CatalogService acting as a provider to the BPEL engine -->
    <plnk:partnerLinkType name="CatalogLinkType">
        <plnk:role name="CatalogProvider" portType="cat:CatalogPortType"/>
    </plnk:partnerLinkType>

    <!-- This describes the OrdersService acting as a provider to the BPEL engine -->
    <plnk:partnerLinkType name="OrdersLinkType">
        <plnk:role name="OrdersProvider" portType="ord:OrdersPortType"/>
    </plnk:partnerLinkType>

</wsdl:definitions>
